@model HomeViewModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="box">
    <div>
        <body style="font-family: Arial, sans-serif; background-color: darkslategrey; text-align: center;">
            <h1 style="color:black;"> <i>Hey there!</i> </h1>
            <h2 style="color: yellowgreen">I'm Doris Ifeoma</h2>
            <h3 style="color: black;">~<span style="font-weight: bold; color: #333; font-style: italic;">Software Developer</span></h3>
            <p><cite>Transforming ideas into products!</cite></p>
        </body>
    </div>

    <div class="image-container">
        <img src="~/Images/MyImage2.jpeg" width="220" height="277" style="border: none; border-radius: 10px;">
    </div>

</div>







